
*
{
margin: 0;
padding: 0;

}
.logo{
    margin:10px;
    padding: 10px;
    width: 50px;
    background: rgb(0, 0, 0);
    padding-left: 3%;
}

body{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
.menu-bar
{
    background: rgb(0, 0, 0);
    text-align: center;
    display: flex;
}
.title{
    padding-top: 1.5%;
    text-align:left;
    font-size: 30px;
    color:white;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
    padding-left: 20%;
}
.menu-bar ul li{
    width: 100px;
    margin: 20px;
    padding: 5px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: white;
    }
    

    .active, .menu-bar ul li :hover
    {
        background: rgb(65, 62, 65);
        border-radius: 30px;
    }

    .menu-bar .fa{
        margin-right: 4px;
    }